{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<img src="{% static 'polls/background.png' %}"alt="Background Image" class="background-image" >

{% comment %} <link rel="stylesheet" href="{% static 'polls/style.css' %}"> {% endcomment %}

{%if latest_question_list%}

    <ul>
    {%for question in latest_question_list%}
    {% comment %} <li><a href="/polls/{{question.id}}/">{{ question.question_text}}</a></li> {% endcomment %}
    <li><a href="{% url 'polls:detail' question.id%}">{{ question.question_text}}</a></li>

    {%endfor%}
    </ul>        
{%else%}
    <p>No polls are available</p>
{%endif%}




